.carrusel{
    padding-top: 140px;
}

.btn-modal{
    color: rgb(144, 144, 144);
    background-color: rgb(241, 241, 241);
    font-family:monospace;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 1vw;
    margin-left:2vw ;
}
.btn-modal2:hover{
    background-color:  rgb(85, 125, 212);
}
.btn-modal:hover{
    background-color:  rgb(85, 125, 212);
}
.btn-modal1{
    color: rgb(144, 144, 144);
    background-color: rgb(241, 241, 241);
    font-family:monospace;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 1vw;
    margin-left:2vw ;
}
.btn-modal2{
    color: rgb(144, 144, 144);
    background-color: rgb(241, 241, 241);
    font-family:monospace;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 1vw;
    margin-left:2vw ;
}

.btn-modal1:hover{
    background-color: rgb(85, 125, 212);
}