.container__sobreMi{
    margin-top: 10vw;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Raleway';
    padding: 30px;
}
.container__sobreMi--info{
 background-color: rgb(246, 245, 244);
 padding: 10px;
}
.imagenyoXs{
    height: 60vw ;
    width: 80vw ;
    margin-left: 5vw;
}
